@tailwind base;
@tailwind components;
@tailwind utilities;



body::-webkit-scrollbar {
  display: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cad7f6;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cad7f6;
  border-radius: 20px;
}
